.forgot-password-page {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
input,
button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
}
button {
    background: pink;
}
p {
    font-size: 14px;
    margin-bottom: 5px;
}
p span{
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
    color: blue;
}