.product-page-container {
    width: 75%;
    margin: 20px auto;
    position: relative;
}
.product-details {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
}
.product-header {
    width: 50%;
}
.product-details h1 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}
.product-details img {
    width: 100%;
    height: 330px;
    /* object-fit: contain; */
    border-radius: 10px;
}
.product-seller-infor button {
    background: green;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 8px;
    margin: 10px 0;
    border-radius: 5px;
}
.confirmation-modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4pt 4pt 4px rgba(0, 0, 0, 0.9);
    border: 1px solid #ccc;
  }
  .confirm-card {
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
  }
  .btns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btns button{
    background: none;
    border: none;
    outline: none;
    color: crimson;
    cursor: pointer;
  }
  .btns button:last-child {
    background: green;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
  }